
[Unit]
Description=Toggle Monitor Input from Keypad

[Service]
WorkingDirectory=${DIR}
ExecStart=${DIR}/venv/bin/python -m uvicorn main:app \
    --host 0.0.0.0 \
    --port 1602 \
    --reload \
    --app-dir ${DIR}


[Install]
WantedBy=default.target
